<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.grad.grabing.dao.mapper.VideoAuthorMapper">
	<insert id="insert" parameterType="VideoAuthor" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into
		tb_video_author(name,indexHref,signature,videoCount,attentionCount,audienceCount,logo)
		values(#{name,jdbcType=VARCHAR},#{indexHref,jdbcType=VARCHAR},#{signature,jdbcType=VARCHAR},#{videoCount,jdbcType=BIGINT},#{attentionCount,jdbcType=BIGINT},#{audienceCount,jdbcType=BIGINT},#{logo,jdbcType=VARCHAR})
	</insert>

	<select id="selects" parameterType="java.lang.String"
		resultType="java.util.List">
		select * from tb_video_author where
		indexHref=#{indexHref}
	</select>
</mapper>